Options +ExecCGI
AddHandler fcgid-script .fcgi
AddHandler wsgi-script .py

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ passenger_wsgi.py/$1 [QSA,L]

<Files *>
    Require all granted
</Files>

<Directory "/home/idgroupg/public_html/static">
    Options -Indexes
    Order allow,deny
    Allow from all
</Directory>

<Directory "/home/idgroupg/public_html/media">
    Options -Indexes
    Order allow,deny
    Allow from all
</Directory>