asgiref
Django
django-admin-interface
django-colorfield
django-grappelli
django-suit
et_xmlfile
numpy
openpyxl
pandas
pillow
pip
psycopg2-binary
PyJWT
python-dateutil
python-slugify
pytz
six
sqlparse
text-unidecode
typing_extensions
tzdata