{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container mx-auto mt-6">
    <h1 class="text-2xl font-bold mb-6">Mijozlar ro'yxati</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 text-sm">
            <thead>
                <tr class="bg-gray-100">
                    <th class="px-2 py-1 border text-xs">Mijoz</th>
                    <th class="px-2 py-1 border text-xs">Tel raqam</th>
                    <th class="px-2 py-1 border text-xs">Username</th>
                    <th class="px-2 py-1 border text-xs">Password</th>
                    <th class="px-2 py-1 border text-xs">Dasturiy ta'minot</th>
                    <th class="px-2 py-1 border text-xs">GPS ID</th>
                    <th class="px-2 py-1 border text-xs">SIM karta</th>
                    <th class="px-2 py-1 border text-xs">Mashina turi</th>
                    <th class="px-2 py-1 border text-xs">Davlat raqami</th>
                    <th class="px-2 py-1 border text-xs">Abonent to'lov</th>
                    <th class="px-2 py-1 border text-xs">Sana</th>
                    <th class="px-2 py-1 border text-xs">Umumiy summa</th>
                    <th class="px-2 py-1 border text-xs">Naqd</th>
                    <th class="px-2 py-1 border text-xs">Bank</th>
                    <th class="px-2 py-1 border text-xs">Qarz</th>
                    <th class="px-2 py-1 border text-xs">Master</th>
                    <th class="px-2 py-1 border text-xs">Master summasi</th>
                </tr>
            </thead>
            <tbody>
                {% for item in mijozlar_data %}
                    <tr class="hover:bg-gray-50">
                        {% if item.first_row %}
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.mijoz }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.tel_raqam }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.username }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.password }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.dasturiy_taminot_nomi }}</td>
                        {% endif %}
                        <td class="px-2 py-1 border text-xs">{{ item.gps }}</td>
                        <td class="px-2 py-1 border text-xs">{{ item.sim_karta }}</td>
                        <td class="px-2 py-1 border text-xs">{{ item.mashina_turi }}</td>
                        <td class="px-2 py-1 border text-xs">{{ item.davlat_raqami }}</td>
                        {% if item.first_row %}
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.abonent_tulov|intcomma }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.sana }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.summasi|intcomma }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.naqd|intcomma }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.bank_schot|intcomma }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.karta|intcomma }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.master }}</td>
                            <td class="px-2 py-1 border text-xs" rowspan="{{ item.rowspan }}">{{ item.master_summasi|intcomma }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}